.profile__add-button {
    background: url('../../../images/plus.svg') no-repeat center center;
    min-width: 150px;
    height: 50px;
    border: 2px solid white;
    border-radius: 2px;
    margin: 0 0 0 auto;
    padding: 0;
    cursor: pointer;
    transition: opacity .4s;
    background-color: transparent;
  }
  
  @media screen and (max-width: 900px) {
    .profile__add-button {
      min-width: 100px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .profile__add-button {
      min-width: 100%;
      margin: 0;
      background-size: 16px 16px;
    }
  }
  
  .profile__add-button:hover {
    opacity: 0.6;
  }