.form__input{
  display: block;
  border: 0;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 1.21;
  font-weight: 400;
  font-family: inherit;
  background-color: transparent;
  color: #000000;
  padding-bottom: 5px;
}

.form__input:focus {
  outline-color: #6391c1;
}

.form__input:nth-of-type(1) {
  margin-bottom: 30px;
}